.actor-card {
    margin: 25px;
    padding: 2px;
    text-align: center;
    background-color: black !important;
}


.actor-card .card-body , .card-title{
    background-color: white !important;
}

.actor-card .imdbLink {
    font-weight: bold;
    color: firebrick !important;
}

.actor-card .show{
    display: inline-block;
}

.actor-card .hide{
    display: none;
}
