.card{
    margin: 25px;
    padding: 2px;
    text-align: center;
    background-color: black !important;
}


.card-body , .card-title{
    background-color: white !important;
}

.imdbLink {
    font-weight: bold;
    color: firebrick !important;
}

.show{
    display: inline-block;
}

.hide{
    display: none;
}
