.actors-container .cards-div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.actors-container .title  h1{
    margin: auto;
    font-family: 'Courier New', Courier, monospace; 
    font-weight:bold;
    font-size:55px;
    color: firebrick;
    padding: 40px;
}

.actors-container > input{
    margin: 20px;
}


.actors-container .form-row{
    justify-content:center;
} 


.actors-container .label {
    margin: 5px  10px 5px 40px;
    font-size: 18px;
    /* font-weight: bold; */
}

.actors-container .filter , .sort {
    width: 300px !important;

}


