.cards-div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.container  h1{
    margin: auto;
    font-weight: bold;
    color: firebrick;
    padding: 40px;
}

.container > input{
    margin: 20px;
}


.form-row{
    justify-content:center;
} 


.label {
    margin: 5px  10px 5px 40px;
    font-size: 18px;
    /* font-weight: bold; */
}

.filter , .sort {
    width: 300px !important;

}


